$white: #fff;
$green: #022F2F;

// Components
@import "../components/button/button.scss";

// Pages
@import "../pages/page-styles/home.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    color: $green;
}

